<%# <form action="/users" method="POST" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token % >">
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]"><br> 
  <label for="email">E-mail:</label>
  <input type="email" id="email" name="user[email]"><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]"><br>
  <input type="submit" value="Submit">
</form> %>


<%= form_tag("/users", method: "POST") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:email, "E-mail:") %>  
  <%= email_field_tag(:email) %>
  <%= label_tag(:password, "Password:")  %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Submit") %>
<% end %>